[submodule "Imaginem-Interface"]
	path = Imaginem-Interface
	url = https://github.com/cloudbeatsch/Imaginem-Interface
	branch = master
	master = master
[submodule "Imaginem-Functions"]
	path = Imaginem-Functions
	url = https://github.com/cloudbeatsch/Imaginem-Functions
	branch = master
	master = master
[submodule "Imaginem-Services"]
	path = Imaginem-Services
	url = https://github.com/cloudbeatsch/Imaginem-Services
	branch = master
