<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <!--
   Connection string format:
   DefaultEndpointsProtocol=https;AccountName=<YOUR_ACCOUNT_NAME>;AccountKey=<YOUR_ACCOUNT_KEY; 
   -->
    <add key="StorageConnectionString" value="<YOUR_STORAGE_CONNECTION_STRING>"/>
    <!-- e.g. C:\Repos\Imaginem -->
    <add key="ImaginemRoot" value="YOUR_IMAGINEM_ROOT_DIRECTORY"/>
  </appSettings>
    
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>